.App {
  text-align: center;
}

/* .App-logo {
  height: 10em;
} */

.App-header {
  background-color: #282c34;
  min-height: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
main {
  display: flex;
}

.Appcomponent {
  BACKGROUND: red;
  padding: 1em;
  width: 50%;
}
.App-link {
  color: #09d3ac;
}
